In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
#Store the CSV you saved in part one into a DataFrame.

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2022-10-06 06:56:07,19.7297,-155.0900,79.29,93,100,6.91
1,1,Mahebourg,MU,2022-10-06 06:55:09,-20.4081,57.7000,77.29,65,40,13.80
2,2,Bathsheba,BB,2022-10-06 06:56:11,13.2167,-59.5167,83.01,78,40,18.41
3,3,Verkhnevilyuysk,RU,2022-10-06 06:56:12,63.4453,120.3167,29.84,74,100,9.33
4,4,Olafsvik,IS,2022-10-06 06:56:12,64.8945,-23.7142,42.87,71,100,9.75
5,5,Panchgani,IN,2022-10-06 06:56:13,17.9167,73.8167,66.42,79,100,4.16
6,6,Nemuro,JP,2022-10-06 06:56:13,43.3236,145.5750,53.06,51,100,9.78
7,7,Ouadda,CF,2022-10-06 06:56:14,8.0777,22.4007,70.43,92,100,2.84
8,8,Ushuaia,AR,2022-10-06 06:51:34,-54.8000,-68.3000,38.86,81,20,13.80
9,9,Saint George,US,2022-10-06 06:56:14,37.1041,-113.5841,72.79,31,0,1.99

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
temperatures = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
humidity = city_data_df["Humidity"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
clouds = city_data_df["Cloudiness"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
wind = city_data_df["Wind Speed"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2022-10-06 06:56:07,19.7297,-155.0900,79.29,93,100,6.91
1,1,Mahebourg,MU,2022-10-06 06:55:09,-20.4081,57.7000,77.29,65,40,13.80
2,2,Bathsheba,BB,2022-10-06 06:56:11,13.2167,-59.5167,83.01,78,40,18.41
11,11,Vaini,TO,2022-10-06 06:56:15,-21.2000,-175.2000,77.16,100,75,3.44
15,15,Ca Mau,VN,2022-10-06 06:56:17,9.1769,105.1500,78.49,89,100,4.00
18,18,Georgetown,MY,2022-10-06 06:56:18,5.4112,100.3354,87.73,74,20,8.05
26,26,Banda Aceh,ID,2022-10-06 06:55:03,5.5577,95.3222,83.37,72,99,14.03
28,28,Saint-Pierre,RE,2022-10-06 06:56:22,-21.3393,55.4781,78.48,53,40,13.80
36,36,Tautira,PF,2022-10-06 06:56:25,-17.7333,-149.1500,76.71,73,100,22.88
38,38,Kapaa,US,2022-10-06 06:56:26,22.0752,-159.3190,76.98,79,6,1.01

In [23]:
preferred_cities_df.count()

City_ID       167
City          167
Country       165
Date          167
Lat           167
Lng           167
Max Temp      167
Humidity      167
Cloudiness    167
Wind Speed    167
dtype: int64

In [25]:
#Create a new DataFrame to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0           Hilo      US     79.29  19.7297 -155.0900
1      Mahebourg      MU     77.29 -20.4081   57.7000
2      Bathsheba      BB     83.01  13.2167  -59.5167
11         Vaini      TO     77.16 -21.2000 -175.2000
15        Ca Mau      VN     78.49   9.1769  105.1500
18    Georgetown      MY     87.73   5.4112  100.3354
26    Banda Aceh      ID     83.37   5.5577   95.3222
28  Saint-Pierre      RE     78.48 -21.3393   55.4781
36       Tautira      PF     76.71 -17.7333 -149.1500
38         Kapaa      US     76.98  22.0752 -159.3190

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hilo,US,79.29,19.7297,-155.0900,Hilo Hawaiian Hotel
1,Mahebourg,MU,77.29,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
2,Bathsheba,BB,83.01,13.2167,-59.5167,Atlantis Hotel
11,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
15,Ca Mau,VN,78.49,9.1769,105.1500,Mường Thanh Luxury Cà Mau Hotel
18,Georgetown,MY,87.73,5.4112,100.3354,Cititel Penang
26,Banda Aceh,ID,83.37,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
28,Saint-Pierre,RE,78.48,-21.3393,55.4781,Alize Plage
36,Tautira,PF,76.71,-17.7333,-149.1500,Pension Oaoa
38,Kapaa,US,76.98,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [34]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))